<% content_for :title do %>CipherHealth Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="weekly_focus" data-view="Text" data-title="Weekly Focus" data-text="This is your shiny new dashboard."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reach" data-view="Number" data-title="Reach %" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="time_to_reach" data-view="Meter" data-title="Time to Reach" data-min="0" data-max="20" style="background-color:#232323"></div>
      <div data-id="time_to_close" data-view="Meter" data-title="Time to Close" data-min="0" data-max="20" style="background-color:#232323"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="percentage_satisfied1" data-view="Meter" data-title="% Satisfied 1" data-min="0" data-max="120" style="background-color:#016698"></div>
      <div data-id="percentage_satisfied2" data-view="Meter" data-title="% Satisfied 2" data-min="0" data-max="100" style="background-color:#016698"></div>
    </li>
  </ul>
</div>